@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

@media(prefers-color-scheme: dark) {
  
}

@font-face {
  font-family: "Tele-Marines"; 
  src: url("//db.onlinewebfonts.com/t/01a78afe99ea694818028dcc7464ac4a.woff2") format("woff2"), 
      url("//db.onlinewebfonts.com/t/01a78afe99ea694818028dcc7464ac4a.woff") format("woff");
}

.tele-marines {
  font-family: 'Tele-Marines', sans-serif;
  /* Additional styles can be added here */
}

.nav__item-active {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.nav__item-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}